/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
  background-color: darkgrey;
  background-image: url("https://st.depositphotos.com/2469681/3502/i/450/depositphotos_35024749-stock-photo-yellow-double-solid-line.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
}

.buttons{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container {
  
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 280px;
  height: 600px;
  border-radius: 15px;
  align-items: center;
}

.redLigth {
  background-color: red;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 10px;
  /* filter: drop-shadow(0 0mm 10mm red); */
}

.yellowLigth {
  background-color: yellow;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-top: 15px;
  margin: 10px 0;
  /* filter: drop-shadow(0 0mm 10mm yellow); */
}

.greenLigth {
  background-color: green;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-top: 15px;
  margin: 10px 0;
  /* filter: drop-shadow(0 0mm 10mm green); */
}
